/* ! RESET CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* * Main content of the page*/
/* Header of the page*/
header {
  background-color: #004990;
  /* border: solid #004990 2px; */ /* TODO Retirée car effet noël*/
  border: dotted white 8px;
}
.headerTitle {
  font-size: 1.5em;
  text-align: center;
  color: #e43c41;
}
.subtitleHeaderContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: yellow;
}
.iconRF,
.iconAN {
  width: 40px;
}
.subtitleHeader {
  font-size: 15px;
}

.horizontalLine {
  height: 6px;
  width: 100%;
  background-color: black;
}
/* Form*/
.formContainer {
  margin-top: 30px;
}
.formTitle {
  color: #233f6b;
  font-size: 2em;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin-top: 10px;
}
.formButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.resetButton {
  background: rgb(206, 97, 74);
  background: linear-gradient(
    90deg,
    rgba(206, 97, 74, 1) 0%,
    rgba(173, 72, 71, 1) 100%
  );
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 1em;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(206, 97, 74, 1) 0%,
      rgba(173, 72, 71, 1) 100%
    )
    1;
  cursor: pointer;
}
.submitButton {
  background: rgb(153, 194, 33);
  background: linear-gradient(
    90deg,
    rgba(153, 194, 33, 1) 0%,
    rgba(104, 165, 50, 1) 100%
  );
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 1.2em;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(153, 194, 33, 1) 0%,
      rgba(104, 165, 50, 1) 100%
    )
    1;
  cursor: pointer;
}
.submitButton:hover {
  background: black;
  color: aqua;
}
.submitButton:active {
  background: green;
  color: white;
}
.resetButton:hover {
  background: black;
  color: aqua;
}
.resetButton:active {
  background: #a70d07;
  color: white;
}

/* ! Media queries*/
@media screen and (min-width: 550px) {
  .headerTitle {
    margin-top: 10px;
  }
  .subtitleHeaderContainer {
    justify-content: space-around;
  }
}
@media screen and (max-width: 350px) {
  .formButtonsContainer {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    margin-top: 20px;
  }
}
/* TODO Media querie : effet noël*/
@media screen and (max-width: 768px) {
  header {
    background-color: #004990;
    border: dotted white 7px;
  }
}
@media screen and (max-width: 400px) {
  header {
    background-color: #004990;
    border: dotted white 4px;
  }
}
